<h2>Lista empleados</h2>
<table class="table table-striped">
    <thead class="table table-dark"> 
        <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">Apellido</th>
            <th class="text-center">E-mail</th>
        </tr>
    </thead>
    <tbody> 
        <tr *ngFor="let empleado of empleados">
            <td class="text-center">{{empleado.name}}</td>
            <td class="text-center">{{empleado.lastName}}</td>
            <td class="text-center">{{empleado.email}}</td>
        </tr>
    </tbody>
</table>
